<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="/static/bootstrap-select/dist1.12.4/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.4/css/bootstrap.min.css" >

    <script type="text/javascript" src="/static/jquery-3.2.1/jquery-3.2.1.js"></script>
    <script rel="stylesheet" type="text/css" src="/static/bootstrap-3.4/css/bootstrap.min.css" ></script>
    <script type="text/javascript" src="/static/bootstrap-select/dist1.12.4/js/bootstrap-select.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="form-group">
            <label for="project" class="col-md-2 col-sm-2 col-xs-2 col-lg-2">选择项目</label>
                <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5">
                        <select id="project" title="请选择" class="selectpicker form-control">
                            <option value="1">1234321</option>
                            <option value="2">222</option>
                            <option value="3">333</option>
                            <option value="4">444</option>
                        </select>
                </div>
        </div>
    </div>

</body>
</html>
