<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课2-3</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap3.4/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/jquery-3.2.1/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/static/bootstrap3.4/js/bootstrap.min.js"></script>
</head>
<body>

   <div class="container">
       <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> 第一列 </div>
           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> 第二列 </div>
       </div>
       <div class="row">
           <div class="col-xs-3 col-md-3"> 第一列 </div>
           <div class="col-xs-3 col-md-3"> 第二列 </div>
           <div class="col-xs-6 col-md-6"> 第三列 </div>
       </div>
       <div class="row">
           <div class="col-xs-6 col-md-2"> 第一列 </div>
           <div class="col-xs-6 col-md-8"> 第二列 </div>
           <div class="col-xs-6 col-md-2"> 第三列 </div>
       </div>

   </div>

</body>
</html>