<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ke2-7</title>
     <link rel="stylesheet" type="text/css" href="/static/bootstrap3.4/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/jquery-3.2.1/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/static/bootstrap3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
       <div class="row">
           <div class="col-md-4 col-md-push-4">
               1111占4个位置
           </div>
           <div class="col-md-4 col-md-pull-4">
               22222占4个位置
           </div>
       </div>

   </div>


</body>
</html>