<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课2-2</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap3.4/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/jquery-3.2.1/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/static/bootstrap3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <p>这是一个<code>&lt;input&gt;</code>标签</p>
        <p>
            快捷键 <kbd>ctr + c</kbd>
        </p>
        <p>不会有空格       也不会
            换行
        </p>
        <pre class="pre-scrollable">
            &lt;a href="#"&gt;这个链接&lt;/a&gt;
def func():
    return "hello"

















        </pre>
        <pre>
            <xmp>
                <a href="">链接</a>
            </xmp>
        </pre>

    </div>

</body>
</html>