<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ke2-1</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap3.4/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/jquery-3.2.1/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/static/bootstrap3.4/js/bootstrap.min.js"></script>
</head>
<body>

   <div>
       <p></p>
       <div></div>

       <select>

       </select>
       <h1>一级标题</h1>
       <h2>二级标题</h2>
       <h3>三级标题</h3>
       <a href="#">点我跳转链接</a><a href="#">点我跳转链接</a><a href="#">点我跳转链接</a>
       <span>helloxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</span>
       <span>world</span>
       <input>
       <input>
       <input>
       <span>hello</span>
   </div>
   <div>
       hello
   </div>
   <div>
       world
   </div>
   <div class="container">
       这是一个容器
       <a href="ke1_1.html">这是链接</a>
   </div>
   <div class="container-fluid">
       左右两边不留空白
   </div>

</body>
</html>