<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课2-3</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap3.4/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/jquery-3.2.1/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/static/bootstrap3.4/js/bootstrap.min.js"></script>
</head>
<body>
   <div class="container">
       <div class="row">
           <div class="col-md-4">
               占4个位置
           </div>
           <div class="col-md-4 col-md-offset-4">
               占4个位置
           </div>
       </div>

   </div>
    <div class="container">
           <div class="row">
               <div class="col-md-6">
                   <div class="row">
                       <div class="col-md-4">444</div>
                       <div class="col-md-4">444</div>
                       <div class="col-md-4">444</div>
                   </div>
               </div>
               <div class="col-md-6">
                   占6个位置
               </div>
           </div>

       </div>

</body>
</html>