<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>课3_1</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap3.4/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'jquery-3.2.1/jquery-3.2.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap3.4/js/bootstrap.min.js' %}"></script>

</head>
<body>
   <div class="container">
       <div class="table-responsive">
           <table class="table table-bordered table-striped table-hover">
               <tr class="success">
                   <th>ID</th>
                   <th>name</th>
                   <th>age</th>
                   <th>tel</th>
                   <th>address</th>
                   <th>email</th>
               </tr>
               <tr class="info">
                   <th>1</th>
                   <th>张三</th>
                   <th>22</th>
                   <th>1222223333</th>
                   <th>上海市 徐汇区</th>
                   <th>22222222@qq.com</th>
               </tr>
               <tr class="danger">
                   <th>2</th>
                   <th>李四</th>
                   <th>22</th>
                   <th>18000222111</th>
                   <th>上海市 闵行区</th>
                   <th>22222222@qq.com</th>
               </tr>
               <tr class="warning">
                   <th>3</th>
                   <th>王五</th>
                   <th>22</th>
                   <th>18000222121</th>
                   <th>北京市</th>
                   <th>22222222@qq.com</th>
               </tr>
               <tr class="active">
                   <th>4</th>
                   <th>李六</th>
                   <th>22</th>
                   <th>18000222110</th>
                   <th>上海市 松江区</th>
                   <th>22222222@qq.com</th>
               </tr>
           </table>
       </div>
   </div>

</body>
</html>