<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>One.1</title>
	<!---引入css--->
	<link rel="stylesheet" type="text/css" href="/static/bootstrap-3.4/css/bootstrap.min.css">
	<!---引入js jquery--->
	<script type="text/javascript" src="/static/jquery-3.2.1/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="/static/bootstrap-3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<p> 优化后的页面 </p>
<label for="name" >输入姓名</label>
<input id="name" name="name" placeholder="请输入">
</div>
<div class="container">
	<label for="name1">输入姓名</label>
	<input class="form-control" id="name1" placeholder="请输入">
</div>
    <div class="container">
        <p>
            这是一个<code>&lt;input&gt;</code>标签
        </p>
    </div>
    <div class="container">
        <pre class="pre-scrollable">
            def function()
                return "hello"
        </pre>
        <div class="col-md-4">你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好</div>
{#        <div class="clearfix visible-sm-block"></div>#}
{#        <div class="clearfix visible-lg-block"></div>#}
        <div class="clearfix visible-md-block"></div>
        <div class="col-md-4">testtesttestets</div>
        <div class="col-md-4">testtesttetsttest</div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">左边输入一些内输入一些中文容左边输入一些内输入一些中文容左边输入一些内输入一些中文容左边输入一些内输入一些中文容左边输入一些内输入一些中文容</div>
        <div class="col-sm-4 col-md-4 col-lg-4">444444444</div>
        <div class="col-sm-4 col-md-4 col-lg-4">44444444444</div>
        <div class="clearfix visible-sm-block visible-md-block visible-lg-block visible-md-block"></div>
        <div class="col-sm-4 col-md-4 col-lg-4">44444444444</div>
        <div class="col-sm-4 col-md-4 col-lg-4">44444444444</div>
        <div class="col-sm-4 col-md-4 col-lg-4">44444444444</div>
    </div>
</div>
</body>
</html>
