<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课2-3</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap3.4/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/jquery-3.2.1/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/static/bootstrap3.4/js/bootstrap.min.js"></script>
</head>
<body>
{#   <div class="container">#}
{#       <div class="row">#}
{#           <div class="col-md-4">#}
{#               占4个位置#}
{#           </div>#}
{#           <div class="col-md-5">#}
{#               占5个位置#}
{#           </div>#}
{#           <div class="col-md-9">#}
{#               占9个位置#}
{#           </div>#}
{##}
{#       </div>#}
{#   </div>#}
   <div class="container">
       <div class="row">
           <div class="col-sm-4 col-md-4 col-lg-4">左边输入一些内输入一些中文容左边输入一些内输入一些中文容左边输入一些内输入一些中文容左边输入一些内输入一些中文容左边输入一些内输入一些中文容</div>
           <div class="col-sm-4 col-md-4 col-lg-4">444444444</div>
           <div class="col-sm-4 col-md-4 col-lg-4">44444444444</div>
           <div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
           <div class="col-sm-4 col-md-4 col-lg-4">44444444444</div>
           <div class="col-sm-4 col-md-4 col-lg-4">44444444444</div>
           <div class="col-sm-4 col-md-4 col-lg-4">44444444444</div>
       </div>
   </div>

</body>
</html>