<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>table 表格优化</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-table-master/dist/bootstrap-table.min.css">

    <script type="text/javascript" src="/static/jquery-3.2.1/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-table-master/dist/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-table-master/dist/locale/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>
    <div class="container">
        <div id="toolbar" class="btn-group">
            <button id="btn_add " class="btn btn-success">
                <span class="glyphicon glyphicon-plus">新增</span>
            </button>
            <button id="btn_add " class="btn btn-danger">
                <span class="glyphicon glyphicon-remove">删除</span>
            </button>
            <button id="btn_add " class="btn btn-warning">
                <span class="glyphicon glyphicon-pencil">修改</span>
            </button>
        </div>
        <table id="table" class="table-hover table-striped" data-toolbar="#toolbar"></table>
    </div>

</body>
<script>
    // 需加载的数据
    data = {
        "total": 11,
        "rows": [
            {"id": 1, "name": "xds", "address": "深圳市福田区", 'age': 18},
            {"id": 2, "name": "xds", "address": "深圳市南山区", 'age': 22},
            {"id": 3, "name": "xds", "address": "深圳市罗湖区", 'age': 24},
            {"id": 4, "name": "xds", "address": "深圳市福田区", 'age': 18},
            {"id": 5, "name": "xds", "address": "深圳市南山区", 'age': 22},
            {"id": 6, "name": "xds", "address": "深圳市罗湖区", 'age': 24},
            {"id": 7, "name": "xds", "address": "深圳市福田区", 'age': 18},
            {"id": 8, "name": "xds", "address": "深圳市南山区", 'age': 22},
            {"id": 9, "name": "xds", "address": "深圳市罗湖区", 'age': 24},
            {"id": 10, "name": "xds", "address": "深圳市福田区", 'age': 18},
            {"id": 11, "name": "xds", "address": "深圳市南山区", 'age': 22},
            {"id": 12, "name": "xds", "address": "深圳市罗湖区", 'age': 24}
        ]
    }
    // 定义显示的列
    columns = [
        {
            checkbox: true,
            visible: true
        },
        {
            field: 'id',
            title: 'ID'
        },
        {
            field: 'name',
            title: '姓名'
        },
        {
            field: 'address',
            title: '地址'
        },
        {
            field: 'age',
            title: '年龄'
        },
        {
            title: "自定义列",
            formatter: function (){
                return "<button class='glyphicon glyphicon-remove text-center'></button>"
            }
        }
    ]
    // 表格加载
    $("#table").bootstrapTable({
        {#toolbar: "#toolbar",#}
        {#data: data,#}
        url: '/get_table/',
        columns: columns,
        method: 'get',
        {#search: true, // 增加搜素框#}
        pagination: true, // 是否显示分页

    })
</script>
</html>
