<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>button 按钮组</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-table-master/dist/bootstrap-table.min.css">

    <script type="text/javascript" src="/static/jquery-3.2.1/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-table-master/dist/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-table-master/dist/locale/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>
<div class="btn-group">
    <button class="btn btn-default btn-lg">btn-default</button>
    <button class="btn btn-danger">btn-danger</button>
    <button class="btn btn-warning">btn-warning</button>
    <button class="btn btn-success">btn-success</button>
    <button class="btn btn-info btn-lg">btn-info</button>
    <button class="btn btn-info btn-xs">btn-xs</button>
    <button class="btn btn-link">这是一个链接</button>
</div>

</body>
</html>
