<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>table表格</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-table-master/dist/bootstrap-table.min.css">
    <script type="text/javascript" src="/static/jquery-3.2.1/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-table-master/dist/locale/bootstrap-table-zh-CN.min.js"></script>


</head>
<body>
<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered table-striped  table-hover table-condensed">
            <tr class=" success">
                <th>id</th>
                <th>name</th>
                <th>age</th>
                <th>address</th>
                <th>tel</th>
                <th>email</th>
                <th>add</th>
            </tr>
            <tr class=" danger">
                <th>1</th>
                <th>xds</th>
                <th>男</th>
                <th></th>
                <th></th>
                <th>12342536354424352@qq.com</th>
                <th>12342536354424352</th>

            </tr>
            <tr class="active">
                <th>2</th>
                <th>xds</th>
                <th>男</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr class="warning">
                <th>3</th>
                <th>xds</th>
                <th>男</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr class=" info">
                <th>4</th>
                <th>xds</th>
                <th>男</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr class=" info">
                <th>4</th>
                <th>xds</th>
                <th>男</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr class=" info">
                <th>4</th>
                <th>xds</th>
                <th>男</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr class=" info">
                <th>4</th>
                <th>xds</th>
                <th>男</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </table>
    </div>
</div>
<script>
    
</script>
</body>
</html>
